<div class="col-sm-12">
  <h2 class="text-center"> Cadastrar Categoria</h2>        
</div>

<div class="justify-content-center row">
  <div class="card col-sm-5">
    <div class="card-body row">
      <form action="/admin/categories/create" method="POST">
        <div class="form-row">
          <div class="form-group col-sm-12">
            <label for="name">Nome da categoria:</label>
            <input name="name" class="form-control {{#if errors.name}}border border-danger"{{/if}} type="text" placeholder="Nome da categoria"/>

            {{#if errors.name}}
              <span class="text-danger">{{errors.name}}</span>
            {{/if}}
          </div>

          <div class="form-group col-sm-12"></div>
            <label for="slug">Slug da categoria:</label>
            <input name="slug" class="form-control {{#if errors.slug}}border border-danger{{/if}}" type="text" placeholder="Slug da categoria"/>

            {{#if errors.slug}}
              <span class="text-danger">{{errors.slug}}</span>
            {{/if}}
          </div>

          <div class="mt-4"> 
            <button class="btn btn-success float-right" type="submit">Cadastrar</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
