<div class="col-sm-12">
  <h1 class="text-center"> Lista de Categorias</h1>
</div>

<div class="col-sm-12">
  <a  class="btn btn-success float-right" href="/admin/categories/create">Nova Categoria</a>
</div>

<div class="col-sm-12">
  <div class="row">
    {{#each categories}}
      <div class="col-sm-3  mt-4">
        <div class="card h-100">
          <img class="card-img-top" src="http://www.leandromtr.com/wp-content/uploads/2018/12/linguagens-de-programacao.jpg" alt="Card image cap">

          <div class="card-body">
            <h4 class="card-title">{{name}}</h4>
            <p class="card-text">{{description}}</p>
          </div>

          <div class="card-footer text-center">
            <a href="#" class="align-self-end btn btn-primary">Editar</a>
          </div>
        </div>
      </div>
    {{/each}}
  </div>
</div>
